h1 {
    font-size: 60px;
    margin: 0px;
}

p {
    font-size: 20px;
}

head {
    text-align: center;
    font-family: fantasy;
}

body {
    background-color: lightblue;
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
}

div {
    margin-left: 25%;
    margin: auto;
    max-width: 750px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: gold; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-size: 60px; 
}

.rightsidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: gold; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-size: 60px; 
}

button {
    border-radius: 8px;
}