h1 {
    font-size: 60px;
    margin: 0px;
}

p {
    font-size: 20px;
}

head {
    text-align: center;
    font-family: fantasy;
}

body {
    background-color: lightblue;
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
}

div {
    margin: auto;
    max-width: 750px;
}